{% extends 'default.html' %}

{% block content %}
    <div class="hero is-primary">
        <div class="hero-body">
            <h1 class="title is-1">Letter Shuffle Game</h1>
            {% block section0_content %}
            {% endblock %}
        </div>
    </div>

    <div class="hero is-light">
        <div class="hero-body">
            {% block section1_content %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
