{% extends 'sections.html' %}

{% block section0_content %}

    <div class="box is-fullwidth">
        <table class="table is-striped is-bordered is-centered is-unselectable is-size-1 has-text-centered is-margin-auto">
            {% for row in board %}
                <tr>
                    {% for cell in row %}
                        <td>{{ cell }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="box">
        <a href="/"><button class="button is-info is-large is-fullwidth">New board</button></a>
    </div>
{% endblock %}
